<div  class="container containerx" style="margin-top: -35px;">
  <div class="col-md-3" id="docmenu" >
    <h4>Menú de tablas</h4>
    <ul class="nav navbar-nav pull-right">
      <% work_schema.table_works.each_with_index do |table, index|%>
      <% if  index== 0 %>
      <li role="presentation" class="active tav col-lg-12" id="tab_<%=index%>" style="cursor:pointer;">
        <%= link_to reporter_table_path(campaing: params[:campaing], table: table.id, id: id), remote: true do %>
        <i class="fa fa-table" aria-hidden="true"></i> <%= truncate(table.alias, length: 27) %>
        <%end%>
      </li>
      <%else%>
      <li role="presentation" class="tav col-lg-12" id="tab_<%=index%>" style="cursor:pointer;">
        <%= link_to reporter_table_path(campaing: params[:campaing], table: table.id, id: id), remote: true do %>
        <i class="fa fa-table" aria-hidden="true"></i> <%= truncate(table.alias, length: 27) %>
        <%end%>
      </li>
      <%end%>
      <%end%>
    </ul>
  </div>
  <script>
  $(document).ready(function(){
  var hhh = $(document).height();
  $('#docmenu').height(hhh);
  });
  </script>