<%= form_tag agroup_var_in_my_table_path, remote: true do -%>
<div class="modal fade" id="clicked-un-var" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Agrupar una variable</h4>
      </div>
      <div class="modal-body">
        <p>Selecciona la variable que deseas agrupar</p>
        <br/><br/>
        <div class="col-md-4">
          <select id="selcteedrag" class="form-control" style="height:52px;" name="agroupby">
            <option value="filter">Filtro</option>
            <% heads.each_with_index do |head, index| %>
            <option value="<%= head %>"><%= head %></option>
            <%end%>
            <option value="filter">Todas</option>
          </select>
        </div>
        <h4>Función: ∫ 1..n if n E ƒ(n)</h4>

        <%= hidden_field_tag 'to_id', "dinamic-load" %>
        <%= hidden_field_tag 'js', true %>
        <%= hidden_field_tag 'date', false %>
        <%= hidden_field_tag 'id', id %>
        <%= hidden_field_tag 'param_add', true %>

        <br/><br/>
        <br/><br/>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Agrupar elementos en la variable', class: "btn btn-info", style:"height:52px;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<%end%>

<%= form_tag agroup_two_or_mor_vars_in_my_table_path, remote: true do -%>
<div class="modal fade" id="clicked-un-var-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Agrupar mas de una variable</h4>
      </div>
      <div class="modal-body" style="height:400px;">
        <br/><br/>
        <div class="col-md-6">
          <select id="agroupbymult" class="form-control" style="height:52px;" name="agroupbymult">
            <option value="filter">Filtro</option>
            <% heads.each_with_index do |head, index| %>
            <option value="<%= head %>"><%= head %></option>
            <%end%>
            <option value="filter">Todas</option>
          </select><br/><br/>
          <div class="btn btn-info" data-added="" id="agroupbymultbut">Agregar esta variable</div><br/><br/>
        </div>
        <div class="col-md-6">
          <textarea name="vars" class="form-control" id="texttt" ></textarea>
          <%= hidden_field_tag 'date', false %>
          <%= hidden_field_tag 'id', id %><br/><br/>
          <%= hidden_field_tag 'to_id', "dinamic-load" %>
          <%= hidden_field_tag 'js', true %>
          <%= hidden_field_tag 'param_add', true %>
        </div>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Enviar', class: "btn btn-info", style:"height:52px;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<%end%>

<div class="modal fade" id="clicked-un-var-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cruces de variables</h4>
      </div>
      <div class="modal-body" style="height:400px;">
        <br/><br/>
        <div class="col-md-5">
          <label>Selecciona una variable</label>
          <div style="height:300px; overflow: auto;">
            <% heads.each_with_index do |head, index| %>
            <%
            headx = head.gsub(' ', '_')
            headx = headx.gsub('(', '_')
            headx = headx.gsub(')', '_')
            headx = headx.gsub('/', '_')
            headx = headx.gsub('[', '_')
            headx = headx.gsub('}]', '_')
            headx = headx.gsub('{', '_')
            %>
            <%= label_tag :variable_to_croisse, :for => "variable_to_croisse_#{headx}", class: "btn btn-default col-lg-12"  do  %>
            <%= radio_button_tag 'variable_to_croisse',head%> <%= head %>
            <%end%><br/>
            <%end%>
          </div>
          <br/><br/>
        </div>
        <div class="col-md-2">
          <div class="btn btn-info" data-added="" id="calfil" style="width:100%;" >fil ></div><br/><br/>
          <div class="btn btn-info" data-added="" id="calcol" style="width:100%;" >col ></div><br/><br/>
          <script>
          $(document).ready(function(){
          $('#calcol').click(function(){
          var inputval = $('input[name=variable_to_croisse]:checked').val();
          $('#textttcol').html(inputval);
          
          });
          $('#calfil').click(function(){
          var inputval = $('input[name=variable_to_croisse]:checked').val();
          $('#textttfil').html(inputval);
          
          });
          });
          </script>
        </div>
        <div class="col-md-5">
          <%= form_tag crossover_of_variables_path, remote: true do -%>
          <label>Fila</label>
          <textarea name="rows" class="form-control" id="textttfil" ></textarea>
          <label>Columna</label>
          <textarea name="cols" class="form-control" id="textttcol" ></textarea>
          <%= hidden_field_tag 'date', false %>
          <%= hidden_field_tag 'id', id %><br/><br/>
          <%= hidden_field_tag 'to_id', "dinamic-load" %>
          <%= hidden_field_tag 'js', true %>
          <%= hidden_field_tag 'param_add', true %>

          <%= submit_tag 'Enviar', class: "btn btn-info" %><br/><br/>
          <%end%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="clicked-un-var-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <%= form_tag promedio_path, remote: true do -%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Promedio en una variable</h4>
      </div>
      <div class="modal-body" style="height:400px;">
        <p>Calculador de promedio sobre una variable.</p><br/>
        <h4>Formula: ∑f(x)/n</h4><br/>
        <div class="col-md-4">
          <select id="selcteedrag" class="form-control" style="height:52px;" name="agroupby">
            <option value="filter">Filtro</option>
            <% heads.each_with_index do |head, index| %>
            <option value="<%= head %>"><%= head %></option>
            <%end%>
            <option value="filter">Todas</option>
          </select>
        </div>
        <%= hidden_field_tag 'date', false %>
        <%= hidden_field_tag 'id', id %>
        <%= hidden_field_tag 'to_id', "dinamic-function" %>
        <%= hidden_field_tag 'js', true %>
        <%= hidden_field_tag 'param_add', true %>

      </div>
      <div class="modal-footer">
        <%= submit_tag 'Calcular', class: 'btn btn-info', style:"height:52px;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
  <%end%>
</div>

<div class="modal fade" id="clicked-un-var-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <%= form_tag desviacion_standar_path, remote: true do -%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Desviación estandar de una varaible.</h4>
      </div>
      <div class="modal-body" style="height:400px;">
        <p>Calculadora desviación estandar.</p><br/>
        <div class="col-md-4">
          <select id="selcteedrag" class="form-control" style="height:52px;" name="agroupby">
            <option value="filter">Filtro</option>
            <% heads.each_with_index do |head, index| %>
            <option value="<%= head %>"><%= head %></option>
            <%end%>
            <option value="filter">Todas</option>
          </select>
        </div>
        <%= hidden_field_tag 'date', false %>
        <%= hidden_field_tag 'id', id %>
        <%= hidden_field_tag 'to_id', "dinamic-function" %>
        <%= hidden_field_tag 'js', true %>
        <%= hidden_field_tag 'param_add', true %>

      </div>
      <div class="modal-footer">
        <%= submit_tag 'Calcular', class: 'btn btn-info', style:"height:52px;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
  <%end%>
</div>

<div class="modal fade" id="clicked-un-var-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <%= form_tag estadistica_path, remote: true do -%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Estadisticas de la variable.</h4>
      </div>
      <div class="modal-body" style="height:400px;">
        <p>Tabla de calculos estadisiticos de la variable</p><br/>
        <div class="col-md-4">
          <select id="selcteedrag" class="form-control" style="height:52px;" name="agroupby">
            <option value="filter">Filtro</option>
            <% heads.each_with_index do |head, index| %>
            <option value="<%= head %>"><%= head %></option>
            <%end%>
            <option value="filter">Todas</option>
          </select>
        </div>
        <%= hidden_field_tag 'date', false %>
        <%= hidden_field_tag 'id', id %>
        <%= hidden_field_tag 'to_id', "dinamic-load" %>
        <%= hidden_field_tag 'js', true %>
        <%= hidden_field_tag 'param_add', true %>

      </div>
      <div class="modal-footer">
        <%= submit_tag 'Calcular', class: 'btn btn-info', style:"height:52px;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
  <%end%>
</div>


<div class="modal fade" id="clicked-un-var-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <%= form_tag suma_code_path, remote: true do -%>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Estadisticas de la variable.</h4>
      </div>
      <div class="modal-body" style="height:400px;">
        <p>Suma de códigos</p><br/>
        <div class="col-md-4">
          <select id="selcteedrag" class="form-control" style="height:52px;" name="agroupby">
            <option value="filter">Filtro</option>
            <% heads.each_with_index do |head, index| %>
            <option value="<%= head %>"><%= head %></option>
            <%end%>
            <option value="filter">Todas</option>
          </select>
        </div>
        <textarea name="codigos">10,9</textarea>
        <%= hidden_field_tag 'date', false %>
        <%= hidden_field_tag 'id', id %>
        <%= hidden_field_tag 'to_id', "dinamic-load" %>
        <%= hidden_field_tag 'js', true %>
        <%= hidden_field_tag 'param_add', true %>
      </div>
      <div class="modal-footer">
        <%= submit_tag 'Calcular', class: 'btn btn-info', style:"height:52px;" %>
        <button type="button" class="btn btn-default" data-dismiss="modal" style="height:52px;">Cancelar</button>
      </div>
    </div>
  </div>
  <%end%>
</div>

<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <a href="#"><div class="navbar-header"><h4>Menú de Funciones</h4></div></a>
    <ul class="nav navbar-nav pull-right">
      <li>
        <a id="chartedtd">Gráficos</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-microchip" aria-hidden="true"></i> Esquematización <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li >
            <%= link_to "/work_schemas/new?id=#{table_in.id}&campaing=#{campaing}" do -%>
            <i class="fa fa-sitemap" aria-hidden="true"></i> Esquema
            <%end%>
          </li>
          <li id="view-tables">
            <a>
              <i class="fa fa-table" aria-hidden="true"></i> Vista de tablas
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cubes" aria-hidden="true"></i> Funciones avanzadas <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li >
            <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var" do -%>
            ∑<i class="fa fa-cog" aria-hidden="true"></i> Agrupar sobre una variable
            <%end%>
          </li>
          <li >
            <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var-2"  do -%>
            <i class="fa fa-object-group" aria-hidden="true"></i> Agrupar dos variables
            <%end%>
          </li>
          <li >
            <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var-3" do -%>
            <i class="fa fa-random" aria-hidden="true"></i> Cruce de variables
            <%end%>
          </li>
          <li >
            <%= link_to public_view_path(campaing: campaing, id: id), data: { no_turbolink: true } do %>
            <i class="fa fa-eye" aria-hidden="true"></i> Vista final
            <%end%>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-crop" aria-hidden="true"></i> Funciones sobre una variable <span class="caret"></span></a>
        <ul class="dropdown-menu">
         <!-- <li>
            <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var-4" do -%>
            Media
            <%end%>
          </li>
          <li>
          <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var-5" do -%>
          Desviación estandar
          <%end%>
          </li>-->
          <li>         
           <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var-6" do -%>
           Tabla estadística
           <%end%>
           </li>
          <li>
          <%= link_to '#',  "data-toggle": "modal", "data-target": "#clicked-un-var-7" do -%>
          Suma de Códigos
          <%end%>
          </li>
          <!-- <li><a>Resta de Códigos</a></li>-->

        </ul>
      </li>
    </ul>
  </div>
</nav>
<script>
$('#view-tables').click(function(){
$('#docmenu').slideToggle('slow');
$('#contentxxxfff').css('width','100%');
});
</script>
<script type="text/javascript">
$(document).ready(function() {
$(".dropdown-toggle").dropdown();
});

$('#chartedtd').click(function(){
 $('#graficos').slideToggle('fast');
});
</script>

