<div class="col-lg-12">
	<div class="col-lg-12 bs-example" style="background:#000;">
		<div id='<%="super_content_chart_#{index}"%>'>
			<div id="words_chart_<%=index%>" ></div>
		</div>
	</div>
	<style>
	.bs-example {
	background:#eee !important;
	}
	#words_chart_<%=index%> {
	margin:0 auto;
	width:80%;
	max-width:800px;
	height:450px;
	}
	#words_chart_<%=index%> span {
	text-shadow: 0px 1px 1px #fff;
	}
	</style>
	<script>
	$(document).ready(function(){
	var wordsx = "<%=  names_by_code(table.wordcloud_words, table.register_in_data_base, @hashx).to_json %>";
	var words = JSON.parse(wordsx.replace(/&quot;/g,'"'));
	$('#words_chart_<%=index%>').jQCloud(words, {
	width: 800,
	height: 450,
	autoResize: true,
	removeOverflowing: true,
	steps: 10,
	delay: 3,
	afterCloudRender: this,
	classPattern: null,
	colors: ["#91D18B", "#48B73E", "#21F20D", "#0DF288", "#13D078", "#C539E1", "#9310AE", "#651376", "#D64CC6", "#E517CD"],
	fontSize: {
	from: 0.1,
	to: 0.02
	}
	});
	
	

    });

	</script>
</div>