<div class="col-md-12 inspirate" id="super_<%=idx%>">
  <% unless dinamic_counter_view(campaing,"super_content_chart_#{idx}") %>
    <%= link_to 'Agregar Gráfico', add_view_access_path(campaing: campaing, indx: "super_content_chart_#{idx}", proccessid: "hid_init_count_table_index_#{idx}"), remote: true, class: "btn btn-info", id: "super_content_chart_#{idx}" %>
    <%= form_tag add_chart_view_acces_path, remote: true do -%>
      <%= hidden_field_tag 'chart_type', '', id: "chart_type" %>
      <%= hidden_field_tag 'chart_type_id', '', id: "chart_type_id" %>
      <div id="savechart" style="display:none;">
      <%= submit_tag 'Guarda Gráfico', class: 'btn btn-default' %>
      </div>
      <div class="btn btn-default" id="primary-chart"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
    </div>
    <%end%>
  <%end%>
  <h4><%= table.alias %></h4>
  <div id="super_chart_<%=idx%>" data-sch="<%= agrouped_table(table, hashx)[:array_chart_1] %>" data-cat="<%= agrouped_table(table, hashx)[:heads] %>"></div>
  <div class="col-lg-12 ">
    <%= render partial: "/reporteador/view_parts/full_table", locals: {hashx: hashx, table: table, displ: true} %>
    <h4>Agrupación de datos por porcentajes de cada variable</h4>
    <% if table.wordcloud %>
    <%= render partial: '/reporteador/view_parts/wordcloud_proces', locals: {hashx: hashx, table: table, displ: false, index: idx}  %>
    <%= render partial: '/reporteador/view_parts/wordcloud_table', locals: {hashx: hashx, table: table, displ: false, index: idx}  %>
    <%else%>
    <%= render partial: '/reporteador/view_parts/single_table_chart', locals: {hashx: hashx, table: table, displ: false, index: idx}  %>
    <br/><br/>
    <%= render partial: '/reporteador/view_parts/advances_table_renamed', locals: {hashx: hashx, table: table, displ: false, index: idx, n: n}  %>
    <%end%>
  </div>
</div>


<script type="text/javascript">
    $(function () {

      $('#primary-chart').click(function() {
        $('.charted').attr('data-chart', chart);
        $('#graficos').show();
      });

      $('#column').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                },
                column: {
                  stacking: null
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('column');

    });
    $('#columninverted').click(function() {
        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                },
                column: {
                    stacking: null
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columninverted');


    });

    $('#columnstaked').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columnstaked');

    });

    $('#columnstakedinverted').click(function() {
        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columnstakedinverted');

    });

    $('#polarcolumn').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('polarcolumn');

    });

    $('#line').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "line"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('line');


    });

    $('#pie').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "pie"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('pie');


    });

    $('#area').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('area');


    });

    $('#spider').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "line"
            },
            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },
            pane: {
                size: '80%'
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('spider');


    });

    $('#stakedarea').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('stakedarea');


    });

    $('#invertedarea').click(function() {
        chart.update({
            chart: {
                type: "area",
                inverted: true
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    fillOpacity: 0.5
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('inverted');

    });

    

    <% if dinamic_counter_view(campaing.id,"super_content_chart_#{idx}" ) %>


    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'column'){
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                },
                column: {
                    stacking: null
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('column');

    }
    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'columninverted'){

        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                },
                column: {
                    stacking: null
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columninverted');


    }

   if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'columnstaked'){
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columnstaked');

    }

    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'columnstakedinverted'){
        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columnstaked');

    }


   if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'polarcolumn'){

        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('polarcolumn');

    }


    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'line'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "line"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('line');


    }

    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'pie'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "pie"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('pie');


    }

    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'area'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('area');


    }

    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'spider'){

        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "line"
            },
            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },
            pane: {
                size: '80%'
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('spider');


    }

    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'stakedarea'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('stakedarea');


    }



    if('<%= dinamic_counter_chart(campaing.id,"super_content_chart_#{idx}") %>' == 'invertedarea'){

        chart.update({
            chart: {
                type: "area",
                inverted: true
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    fillOpacity: 0.5
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('inverted');

    }

    <%end%>
    });

</script>