<div class="row">
<div class="col-lg-12">
<% random_x = SecureRandom.hex(10)%>
<% if param_add %>
    <% params_to_send = {:id => id, agroupby: group_by, codigos: @codigos} %>
    <br/><br/><br/>
    <%= link_to 'Agregar Función', add_view_access_path(campaing: @campaing.id, indx: "#{current_path_info}" , proccessid: "remove_function", function: true, params_to_send: params_to_send), remote: true, class: "btn btn-info", id: "remove_function" %>
        <%= form_tag add_chart_view_acces_path, remote: true do -%>
          <%= hidden_field_tag 'chart_type', '', id: "chart_type" %>
          <%= hidden_field_tag 'chart_type_id', '', id: "chart_type_id" %>
          <div id="savechart" style="display:none;">
          <%= submit_tag 'Guarda Gráfico', class: 'btn btn-default' %>
          </div>
          <div class="btn btn-default" id="primary-chart"><i class="fa fa-pie-chart" aria-hidden="true"></i></div>
        </div>
        <%end%>
    <%end%>
</div>
<div class="col-md-6">
<table class="table table-bodered">
	<caption>Resultados sobre la variable <%= variable %></caption>
	<thead>
		<tr>
			<th>Etiqueta</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
	    <% datachart.each do |dt| %>
		<tr>
			<td><%= dt[:name]%></td>
		    <td><%= dt[:y]%></td>
		</tr>
		<%end%>
	</tbody>
</table>
</div>
<div class="col-md-6">
<div id="suma-<%= variable %>-<%=random_x%>"></div>
<script  type="text/javascript">
$(function () {
	var serieDataColumn = "<%= datachart.to_json %>";
	var datax = JSON.parse(serieDataColumn.replace(/&quot;/g,'"'));

        // Build the chart
        var chart = Highcharts.chart('suma-<%= variable %>-<%=random_x%>', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Suma de codigos de la variable <%= variable %>'
            },
            tooltip: {
                shared: true,
                valueSuffix: ''
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: datax
            }]
        });

    $('#primary-chart').click(function() {
        $('.charted').attr('data-chart', chart);
        $('#graficos').show();
    });


    $('#column').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                },
                column: {
                    stacking: null
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('column');

    });
    $('#columninverted').click(function() {
        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                },
                column: {
                    stacking: null
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columninverted');


    });

    $('#columnstaked').click(function() {
    chart.update({
        chart: {
            inverted: false,
            polar: false,
            type: "column"
        },
        plotOptions: {
            column: {
              stacking: 'normal'
            }
        },
        subtitle: {
            text: 'ARMgroup'
        }
    });
    $('#graficos').hide();
    $('#chart_type').val('columnstaked');

    });

    $('#columnstakedinverted').click(function() {
    chart.update({
        chart: {
            inverted: true,
            polar: false,
            type: "column"
        },
        plotOptions: {
            column: {
              stacking: 'normal'
            }
        },
        subtitle: {
            text: 'ARMgroup'
        }
    });
    $('#graficos').hide();
    $('#chart_type').val('columnstakedinverted');

    });

    $('#polarcolumn').click(function() {
    chart.update({
        chart: {
            inverted: false,
            polar: true,
            type: "column"
        },
        plotOptions: {
            column: {
              stacking: 'normal'
            }
        },
        subtitle: {
            text: 'ARMgroup'
        }
    });
    $('#graficos').hide();
    $('#chart_type').val('polarcolumn');

    });

    $('#line').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "line"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('line');


    });

    $('#pie').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "pie"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('pie');


    });

    $('#area').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('area');


    });

    $('#spider').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "line"
            },
            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },
            pane: {
                size: '80%'
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('spider');


    });

    $('#stakedarea').click(function() {
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('stakedarea');


    });

    $('#invertedarea').click(function() {
        chart.update({
            chart: {
                type: "area",
                inverted: true
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    fillOpacity: 0.5
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('inverted');

    });

    

    <% if dinamic_counter_view(@campaing.id,"#{current_path_info}" ) %>


    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'column'){
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('column');

    }
    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'columninverted'){

        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columninverted');


    }

    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'columnstaked'){
        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columnstaked');

    }

    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'columnstakedinverted'){
        chart.update({
            chart: {
                inverted: true,
                polar: false,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('columnstaked');

    }


   if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'polarcolumn'){

        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "column"
            },
            plotOptions: {
                column: {
                  stacking: 'normal'
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('polarcolumn');

    }



    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'line'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "line"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('line');


    }

    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'pie'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "pie"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('pie');


    }

    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'area'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('area');


    }

    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'spider'){

        chart.update({
            chart: {
                inverted: false,
                polar: true,
                type: "line"
            },
            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },
            pane: {
                size: '80%'
            },
            subtitle: {
                text: 'ARMgroup'
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('spider');


    }

    if('<%= dinamic_counter_chart(@campaing.id,"#{current_path_info}") %>' == 'stakedarea'){

        chart.update({
            chart: {
                inverted: false,
                polar: false,
                type: "area"
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('stakedarea');


    }



    if('<%= dinamic_counter_chart(@campaing.id,"init-count-table") %>' == 'invertedarea'){

        chart.update({
            chart: {
                type: "area",
                inverted: true
            },
            subtitle: {
                text: 'ARMgroup'
            },

            plotOptions: {
                area: {
                    fillOpacity: 0.5
                }
            }
        });
        $('#graficos').hide();
        $('#chart_type').val('inverted');

    }

    <%end%>
});
</script>
</div>
</div>

