<% content_for(:header) do %>
<script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
<% end %>
<div class="container">
<% params_to_send = {:agroupby => params[:agroupby], :date => params[:date], :id => params[:id]} %>
<div id="remove_function">
<%= link_to 'Agregar Función', add_view_access_path(campaing: @campaing.id, indx: "#{current_path_info}" , proccessid: "remove_function", function: true, params_to_send: params_to_send), remote: true, class: "btn btn-info" %>
</div>
<%= link_to "Regresar a la vista de la base", base_path(id: @name_t.id, campaing: @campaing.id), class: "btn btn-warning" %>
<%= render partial: '/reporteador/table_by_agroup', :locals => {data:  @group, variable: @variable, chart_data: @chart_data, campaing: @campaing} %>
</div>


<div class="row">

<%if params[:group] %>
   <div class="col-md-2">
	</div>
	<div class="col-md-5">
   <table class="table">
   	<caption>Tabla de agrupados</caption>
   	<thead>
   		<tr>  
   		    <% texted = [] %>
   			<% @group[:arrayIN].each_with_index do |d,index| %>
   			  <% variation = find_var_text_prototype(@campaing, @variable, d[0]) %>
   			  <% indx = index + 1 %>
   			  <% if multiple_off?(indx,params[:group]) == true %>
   			    <% texted.push(variation) %>
   			    <th><%= "#{texted}" %> </th>
   			    <% texted.clear %>
   			    <%else%>
   			    <% texted.push(variation) %>
   			  <%end%>
			<%end%>
   		</tr>
   	</thead>
   	<tbody>
   		<tr>
   			<tr>
   			    <% valorem = 0 %>
				<% @group[:arrayIN].each_with_index do |d, index| %>
	   			  <% indx = index + 1 %>
	   			  <% if multiple_off?(indx,params[:group]) == true %>
	   			    <% valorem = valorem + d[1] %>
	   			    <th><%= (valorem * 100).round(2) %>% </th>
	   			    <% valorem = 0 %>
	   			    <%else%>
	   			    <% valorem = valorem + d[1] %>
	   			   <%end%>
				<%end%>
			</tr>
   		</tr>
   	</tbody>
   </table>
   </div>
<%end%>
</div>

<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-5">
		<table class="table">
			<caption>Calculos de la variable</caption>
			<thead>
				<tr>
					<th>Media</th>
					<th>Mediana</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= media(@group, @n) %></td>
					<td><%= mediana(@group, @n) %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>