<% content_for(:body_attributes) do %>
data-no-turbolink="true"
<% end %>
<% content_for(:header) do %>
<script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
<script type="text/javascript" src="/canvas/html2canvas.js"></script>
<script type="text/javascript" src="/canvas/canvas2image.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<%= render partial: "/reporteador/view_parts/public_views/new_chart_order" %>
<% end %>
<style type="text/css" media="screen">
	.page{
		height: 842px;
	}
</style>
<div class="container" style="margin-top: 0px;" style="width: 90%;">
	<div class="col-lg-12">
		<div class="container">
		    <div class="btn-group col-lg-12">
			<div id="anttt" class="col-md-2 btn btn-default"><i class="fa fa-arrow-left" aria-hidden="true"></i> Anterior</div>
			<div id="nexttt" class="col-md-2 btn btn-default">Siguiente <i class="fa fa-arrow-right" aria-hidden="true"></i> </div>
			<a id="format-print" class="btn btn-default pull-right"> <i class="fa fa-cloud-download" aria-hidden="true"></i> Descargar <i class="fa fa-file-pdf-o" aria-hidden="true"></i> o <i class="fa fa-print" aria-hidden="true"></i></a>
			<!--
			<div class="btn btn-default" onclick="$('#charts-pp').slideToggle();">Seleccionar Grafico</div>
			</div>-->
		</div>

		<div class="container">
			<% if dinamic_counter_view(params[:campaing],"init-count-table") %>
		    <div class="page" style="display:none;" id="innit">

			<br/><br/>
			<%= link_to 'Eliminar Gráfico', delete_view_acces_path(camping: params[:campaing], indx: "init-count-table"), class: "btn btn-warning", data: {confirm: "¿Estas seguro de eliminar esta gráfica?"} if current_admin %><br/><br/>
			<% if text_xx_counter_view(params[:campaing],"init-count-table").nil? %>
			<% if current_admin %>
			<%= form_tag add_text_view_acces_path do -%>
			<%= hidden_field_tag 'camping', params[:campaing]%>
			<%= hidden_field_tag 'indx',"init-count-table"%>
			<%= text_area_tag 'text', '' ,class: "form-control", placeholder: "Agregar una descripcción de la diapositiva" %><br/>
			<%= submit_tag "Guardar", class: "btn btn-primary" %>
			<%end%>
			<%end%>
			<%else%>
			<div class="row">
				<blockquote style="text-align: justify;" >
					<h3>Descripcción</h3>
					<p><%= text_xx_counter_view(params[:campaing],"init-count-table") %></p>
				</blockquote>
			</div>
			<%end%>
				<%= render partial: "/reporteador/view_parts/public_views/count_view", locals: {campaing: @camp, heads: @heads, hashx: @hashx } %>
			</div>
			<%end%>
			<% @work_schema.table_works.each_with_index do |table,index|%>
			<% if dinamic_counter_view(params[:campaing],"super_content_chart_#{index}") %>
			<div class="inspirate page" id="super_<%=index%>" style="display:none;">
				<br/><br/>
				<%= link_to 'Eliminar Gráfico', delete_view_acces_path(camping: params[:campaing], indx: "super_content_chart_#{index}"), class: "btn btn-warning", data: {confirm: "¿Estas seguro de eliminar esta gráfica?"} if current_admin %><br/><br/>

				<h4><%= table.alias %></h4>

				<% if text_xx_counter_view(params[:campaing],"super_content_chart_#{index}").nil? %>
				<% if current_admin %>
				<%= form_tag add_text_view_acces_path do -%>
				<%= hidden_field_tag 'camping', params[:campaing]%>
				<%= hidden_field_tag 'indx',"super_content_chart_#{index}"%>
				<%= text_area_tag 'text', '' ,class: "form-control", placeholder: "Agregar una descripcción de la diapositiva" %><br/>
				<%= submit_tag "Guardar", class: "btn btn-primary" %>
				<%end%>
				<%end%>
				<%else%>
				<div class="row">
					<blockquote style="text-align: justify;" >
						<h3>Descripcción</h3>
						<p><%= text_xx_counter_view(params[:campaing],"super_content_chart_#{index}") %></p>
					</blockquote>
				</div>
				<%end%>


				<div id="super_chart_<%=index%>" data-sch="<%= agrouped_table(table, @hashx)[:array_chart_1] %>" data-cat="<%= agrouped_table(table, @hashx)[:heads] %>"></div>
				<%= render partial: "/reporteador/view_parts/public_views/full_table", locals: {hashx: @hashx, table: table, displ: true} %>
				<h4>Agrupación de datos por porcentajes de cada variable</h4>
				<% if table.wordcloud %>
				<%= render partial: '/reporteador/view_parts/public_views/wordcloud_proces', locals: {hashx: @hashx, table: table, displ: false, index: index}  %>
				<%= render partial: '/reporteador/view_parts/public_views/wordcloud_table', locals: {hashx: @hashx, table: table, displ: false, index: index}  %>
				<%else%>
				<%= render partial: '/reporteador/view_parts/public_views/single_table_chart', locals: {hashx: @hashx, table: table, displ: false, index: index}  %>
				<br/><br/>
				<%= render partial: '/reporteador/view_parts/public_views/advances_table_renamed', locals: {hashx: @hashx, table: table, displ: false, index: index, n: @n}  %>
				<%end%>
			</div>
			<%end%>
			<%end%>
			<%= render partial: '/reporteador/view_op' %>
			<script  type="text/javascript" charset="utf-8" >
			function seeDiv(id){
			$('.inspirate').hide();
			$('#agroup').hide();
			$('.tav').removeClass('active');
			$('#tab_'+id).addClass('active');
			$('#super_'+id).show();
			}
			</script>
		</div>
	</div>
	<div class="col-md-3 pull-right" id="charts-pp" style="position:fixed; overflow-y: auto; background: #000; height:700px; padding: 10px; display:none;">
	  <% 24.times do |t| %>
	   <a style="margin-top: 5px; margin-bottom: 5px;" id="grafico-<%=t+1%>" class="charted">
	   <img src="/charts/<%=t+1%>.png" alt="imagen-grafica-<%=t+1%>" width="100%;">
	   </a>
	  <%end%>
	</div>
</div>

</div>


<script type="text/javascript">
    $("#format-print").click(function(){

      var url = window.location.href;
      var dagus = '';
      $('.page a').remove();
      $('form').remove();
      $('.page').each(function(index){
      
      	var arfg = $(this).html();

      	dagus = dagus + '<div style="min-height:1455px;">'+arfg+'</div>'; 
      });

      document.body.innerHTML = dagus ;

      window.print();
      window.location = url;
    });
</script>
<script>
	$(document).ready(function(){
		$('.page').each(function(index){
		if(index == 0){
			$(this).show();
			var idx = $(this).attr('id');
			$('#anttt').attr("disabled", true);
			$('#nexttt').attr('data-current',idx);
			var chart_id = $('#'+idx+' .chart').attr('id');
			$('.charted').attr('data-chart', chart_id);
		}
		    
		});
		
	});

	$('#nexttt').click(function(){
		var current = $(this).attr('data-current');
		$('#anttt').attr("disabled", false);
		var actcurrent = $('#'+current);
		var next = $(actcurrent).next('.page');
		var id = next.attr('id');
		if(id != undefined){
		$(actcurrent).hide();
		$(next).show();
		$('#nexttt').attr('data-current', id);
		$('#anttt').attr('data-current', id);
		var chart_id = $('#'+id+' .chart').attr('id');
	    $('.charted').attr('data-chart', chart_id);
		var element = $('.can').attr('id');
			html2canvas($('#'+element), {
			 onrendered: function(canvas) {
	            var img = canvas.toDataURL("image/jpg");
	            console.log(element);
	            console.log(img);

	            $('#'+element).html('<img src="'+img+'"/>');
	      
	          }
		});
	}
	});
	$('#anttt').click(function(){
		var current = $(this).attr('data-current');
		$('#anttt').attr("disabled", false);
		var actcurrent = $('#'+current);
		var next = $(actcurrent).prev('.page');
		var id = next.attr('id');
		if(id != undefined){
		$(actcurrent).hide();
		$(next).show();
		$('#anttt').attr('data-current', id);
		$('#nexttt').attr('data-current', id);
	}
	});
</script>