<% content_for(:body_attributes) do %>
data-no-turbolink="true"
<% end %>
<% content_for(:header) do %>
<script type="text/javascript" src="/js/highcharts/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<% end %>
<% @idx =  params[:id] %>
<% @camp = params[:campaing] %>
<%= render partial: "/reporteador/view_parts/left_menu_functions", locals: {work_schema: @work_schema, id: @idx, heads: @heads, campaing: @camp, table_in: @table_in}%>
<div class="col-md-9">
  <%= render partial: "/reporteador/view_parts/count_view", locals: {campaing: @camp, heads: @heads, hashx: @hashx } %>
  <div class="col-lg-12" style="padding: 30px;">
    <% @work_schema.table_works.each_with_index do |table,index|%>
    <div class="col-md-12 inspirate" style="display:none;" id="super_<%=index%>">
      <% unless dinamic_counter_view(params[:campaing],"super_content_chart_#{index}") %>
      <div id="hid_init_count_table_index_<%=index%>">
        <%= link_to 'Agregar Gráfico', add_view_access_path(campaing: params[:campaing], indx: "super_content_chart_#{index}", proccessid: "hid_init_count_table_index_#{index}"), remote: true, class: "btn btn-info" %>
      </div>
      <%end%>
      <h4><%= table.alias %></h4>
      <div id="super_chart_<%=index%>" data-sch="<%= agrouped_table(table, @hashx)[:array_chart_1] %>" data-cat="<%= agrouped_table(table, @hashx)[:heads] %>"></div>
      <div class="col-lg-12 ">
        <%= render partial: "/reporteador/view_parts/full_table", locals: {hashx: @hashx, table: table, displ: true} %>
        <h4>Agrupación de datos por porcentajes de cada variable</h4>
        <% if table.wordcloud %>
        <%= render partial: '/reporteador/view_parts/wordcloud_proces', locals: {hashx: @hashx, table: table, displ: false, index: index}  %>
        <%= render partial: '/reporteador/view_parts/wordcloud_table', locals: {hashx: @hashx, table: table, displ: false, index: index}  %>
        <%else%>
        <%= render partial: '/reporteador/view_parts/single_table_chart', locals: {hashx: @hashx, table: table, displ: false, index: index}  %>
        <br/><br/>
        <%= render partial: '/reporteador/view_parts/advances_table_renamed', locals: {hashx: @hashx, table: table, displ: false, index: index, n: @n}  %>
        <%end%>
      </div>
    </div>
    <%end%>
    <script  type="text/javascript" charset="utf-8" >
    function seeDiv(id){
    $('.inspirate').hide();
    $('#agroup').hide();
    $('.tav').removeClass('active');
    $('#tab_'+id).addClass('active');
    $('#super_'+id).show();
    }
    </script>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
$('#clicked-un-var').click(function(){
$('#areaagroup').slideToggle('slow');
});
$('#clicked-un-var-2').click(function(){
$('#areaagroupxx').slideToggle('slow');
});
$('#agroupbymult').change(function(){
var Cvalue = $(this).find("option:selected").attr('value');
$('#agroupbymultbut').attr('data-added',Cvalue);
})
$('#agroupbymultbut').click(function(){
var atrigbut = $(this).attr('data-added');
var cont = $('#texttt').html();
if(cont == ''){
var totale  =  atrigbut;
}else{
var totale  = cont + ',' + atrigbut;
}
$('#texttt').html(totale);
});
$('#selctee').change(function(){
$('.filter').hide();
var Cvalue = $(this).find("option:selected").attr('value');
$('.'+Cvalue).show();
});
});
</script>