<div class="col-lg-12">
  <div class="btn-group" role="group" aria-label="Selección de tablas">
    <a onclick='$("#table_single_id_<%=index%>").slideToggle("slow")' class="btn btn-default">Abrir Base <i class="fa fa-database" aria-hidden="true"></i>
    </a>
    <a onclick='$("#table_advanced_id_<%=index%>").slideToggle("slow")' class="btn btn-default">Tabla <i class="fa fa-table" aria-hidden="true"></i>    </a>

    <a class="btn btn-default" id="act_area_chart_table_<%=index%>">
    <i class="fa fa-th" aria-hidden="true"></i> Agrupar
    </a>
    <a class="btn btn-default" id="bar_chart_table_<%=index%>" >
    <i class="fa fa-bar-chart" aria-hidden="true"></i> Invertir <i class="fa fa-repeat" aria-hidden="true"></i>
 
    </a>
    <a class="btn btn-default" id="line_chart_table_<%=index%>">
    <i class="fa fa-area-chart" aria-hidden="true"></i> Acumulativa

    </a>
  </div>
</div>
<br/><br/><br/><br/>
<div class="charttopdf">
  <div id='<%="super_content_chart_#{index}"%>'>
    <div id="load_chart_table_<%=index%>" style="width:100%;"></div>
  </div>
</div>
<div class="col-lg-12">
  <div id="table_single_id_<%=index%>" style="display:none;">
    <div class="table-responsive"  style="max-height: 250px; overflow: auto;">
      <table class="table table-condensed" style="border: #fff;" >
        <thead>
          <tr>
            <% agrouped_table(table, hashx)[:heads].each_with_index do |parseh, index| %>
            <% if index > 0 %>
            <% if parseh != "" %>
            <th> <%= parseh %></th>
            <%else%>
            <th>Null</th>
            <%end%>
            <%else%>
            <th></th>
            <%end%>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% agrouped_table(table, hashx)[:data].each do |data| %>
          <tr>
            <% agrouped_table(table, hashx)[:heads].each_with_index do |parseh, index| %>
            <% if parseh != "" %>
            <% if index != 0 %>
            <td><%= (data[parseh].to_f*100).round(5)%></td>
            <%else%>
            <td><%= data[parseh] %></td>
            <%end%>
            <%else%>
            <% if data[parseh] != 1.0 %>
            <td><%= (data[parseh].to_f*100).round(5)%></td>
            <%else%>
            <td></td>
            <%end%>
            <%end%>
            <%end%>
          </tr>
        </tbody>
        <%end%>
      </table>
    </div>
  </div>
</div>

