<div class="nested-fields panel panel-default" style="padding:10px; margin-right: 20px;">
  <div class="panel-head">
    <%= link_to_remove_association f  do %>
     <div class="btn btn-secondary pull-right">X</div>
    <%end%>
  </div>
  <div class="panel-body">
  <%= f.select(:register_in_data_base, @heads.split(',').map { |value| [ value.gsub('"', ""), value.gsub('"', "") ] },{},{class:"form-control pull-left"}) %><br/><br/>
  <label>Selecciona si el registro es prioritario <%= f.check_box :priority, class:"form-control pull-left" %></label><br/><br/>
  <label>Agrega una alias al registro para que lo vea el cliente</label>
  <%= f.text_field :alias, class:"form-control" %><br/><br/>
  <label>Selecciona si el tipo de datos es una cadena de texto</label>
  <%= f.check_box :stringt %><br/><br/>
  <label>Selecciona si el tipo de datos es una un número entero</label>
  <%= f.check_box :integert %><br/><br/>
  <label>Selecciona si hay decimales</label>
  <%= f.check_box :booleant %>
  </div>
</div>