<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(@work_schema) do |f| %>
    <% if @work_schema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_schema.errors.count, "error") %> prohibited this work_schema from being saved:</h2>
      <ul>
        <% @work_schema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label :customer_id %><br>
      <%= f.number_field :customer_id, class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label :campaing_id %><br>
      <%= f.number_field :campaing_id, class:"form-control" %>
    </div>
    <br/><br/>
    <div class="col-lg-12">
      <fieldset id="table_works">
        <div class="col-md-10">
          <%= f.fields_for :table_works do |table_work| %>
          <%= render  'table_works_fields', f: table_work %>
          <%end%>
        </div>
        <div class="panel-body">
        <%= link_to_add_association 'Agregar tabla', f, :table_works, class: "btn btn-primary pull-right"  %><br/><br/>
        </div>
      </fieldset>
    </div>
    <div class="col-lg-12 ">
      <%= f.submit 'Enviar', class: "btn btn-primary pull-right" %>
    </div>
    <% end %>
  </div>
</div>