<h1>Publicaciones del sistema</h1>
<%= link_to 'Nueva publicación', new_publication_path, class: "btn btn-info pull-right" %>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Admin</th>
      <th>Head image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.admin_id %></td>
        <td><%= publication.head_image %></td>
        <td><%= link_to 'Ver', publication %></td>
        <td><%= link_to 'Editar', edit_publication_path(publication), data: { no_turbolink: true } %></td>
        <td><%= link_to 'Destruir', publication, method: :delete, data: { confirm: '¿Estas seguro de elminar esta publicación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

