<div class="row">
<%= link_to 'Regresar', publications_path, class: "btn btn-default" %>
<%= link_to 'Editar', edit_publication_path(@publication), class: "btn btn-info" %>
</div><br/><br/>
<p>
  <%= image_tag(@publication.head_image, width: "100%") %>
</p>
<p>
  <h1><%= @publication.title %></h1>
</p>
<p>
  <%= @publication.content.html_safe %>
</p>
<p>
 <strong>Por:</strong> <%= @publication.admin.email %>
</p>
<p>
  
</p>