<h1>Clientes</h1>
<%= link_to "Nuevo cliente", admin_new_customer_path, class: "btn btn-info pull-right"%>
<table class="table">
  <thead>
    <td>
      <tr>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Empresa</th>
        <th>Opcciones</th>
      </tr>
    </td>
  </thead>
  <tbody>
    <% @customers.each do |c| %>
    <tr>
      <td>
        <%= c.email %>
      </td>
      <td>
        <%= c.name %>
      </td>
      <td>
        <%= c.submname %>
      </td>
      <td>
        <%= c.empresa %>
      </td>
      <td>
        <%= link_to "Editar", admin_edit_customer_path(id: c.id) %>
        <%= link_to "Eliminar", admin_delete_customer_path(id: c.id), data: { confirm: '¿Estas seguro de elminar este cliente?' } %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>