<!DOCTYPE html>
<html>
  <head>
    <title>ARM Mail Contact</title>
  </head>
  <body style="text-align: justify;">
    <p>El usuario <b><%= @name %></b> se ha puesto en contacto con ARM</p>
    <ul>
      <li>Nombre: <%=@name%></li>
      <li>Email: <%=@fromemail%></li>
      <li>Telefono: <%=@phone%></li>
      <li>Asunto: <%=@comment%></li>
    </ul>
  </body>
</html>