<% if with_options %>
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-1">
      <% if current_customer %>
      <%= link_to "Regresar", customer_audio_files_path, data: { no_turbolink: true }, class: "btn btn-default"%>
      <%else%>
      <%= link_to "Regresar", customer_audio_files_path(id: @customer.id), data: { no_turbolink: true }, class: "btn btn-default"%>
      <%end%>
    </div>
    <div class="col-md-2">
      <% if current_customer %>
      <%= form_tag create_backup_path(campaign: @campaign), remote: true do -%>
      <%= hidden_field_tag 'data', "{'acdata': #{data}}" %>

      <button class='btn btn-primary pull-right'>
      Generar Respaldo <i class="fa fa-hdd-o" aria-hidden="true"></i>
      </button>
      <%end%>
      <%else%>
      <%= form_tag create_backup_path(campaign: @campaign, id: @customer.id), remote: true do -%>
      <button class='btn btn-primary pull-right'>
      <%= hidden_field_tag 'data', "{'acdata': #{data}}" %>

      Generar Respaldo <i class="fa fa-hdd-o" aria-hidden="true"></i>
      </button>
      <%end%>
      <%end%>
      
    </div>
    <div class="col-md-3">
      <%= form_tag zip_compress_download_path, id:"zip_compress_download", method: :post  do -%>
      <%= hidden_field_tag 'file_name', file_name %>
      <%= hidden_field_tag 'name_file', name_file %>
      <%= hidden_field_tag 'data', "{'acdata': #{data}}" %>
      <button class='btn btn-primary pull-left' >
      Decargar todos los archivos <i class="fa fa-download" aria-hiddenn="true"></i>
      </button>
      <%end%>
    </div>
  </div>
</div>
<br/><br/><br/>

<%end%>
<div id="load-consult" class="row slidelnDown" style="display:none;">
  <div class="col-md-12">
    <% @scoped_audios_results.each_with_index do |audiox, index|%>
    <div class="col-md-2 audio-int">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><h3><%= index + 1 %></h3></center>
          <%= truncate(audiox[:name], length: 17) %>
        </div>
        <center>
        <div class="panel-body" style="background: url('/icon-files/background-pre.png'); background-size: 90% 90%;">
          <div class="col-sm-1">
          </div>
          <div class="col-md-5" >
            <div class="ui360">
              <a href="<%= audiox[:url] %>"></a>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <%= audiox[:date] %> | <a href="<%= audiox[:url] %>" download><i class="fa fa-download" aria-hidden="true"></i></a>
          <%#= audiox[:components] %>
          
        </div>
        </center>
      </div>
    </div>
    <%end%>
  </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
setTimeout(function(){
$('#load-consult').slideToggle('slow');
},1000)
});
</script>