<%= form_tag audio_search_files_path do -%>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Busqueda de Audios</h4>
        <a id="advance" class="pull-right">Opcciones Avanzadas <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <%= hidden_field_tag 'id', @customer.id if !current_customer%>
      </div>
      <div class="modal-body">
        <b>De la fecha</b>
        <%= text_field_tag 'date', '', "data-provide": 'datepicker', placeholder: "Selecciona una Fecha", class: "form-control ", required: true%><br/>
        <div id="advanced-op" style="display:none;">
          <b>A la fecha</b>
          <%= text_field_tag 'todate', '', "data-provide": 'datepicker', placeholder: "Selecciona una Fecha Límite", class: "form-control"%><br/>
          <div class="row">
          <div class="col-md-6">
            <b>Selecciona una hora</b>
            <select id="hour" name="hour" class="form-control">
              <% 24.times do  |i|%>
              <%= content_tag(:option, i, value: i) %>
              <%end%>
            </select>
          </div>
          <div class="col-md-6">
            <b>Selecciona un minuto</b>
            <select id="minute" name="minute" class="form-control">
              <% 61.times do  |i|%>
              <%if "#{i}".mb_chars.length == 2%>
              <%= content_tag(:option, i, value: i) %>
              <%else%>
              <%= content_tag(:option, "0#{i}", value: i) %>
              <%end%>
              <%end%>
            </select>
          </div>
          </div><br/><br/>
          <% if current_admin %>
          <div class="row panel">
          <%else%>
          <div class="row panel" style="display:none;">
          <%end%>

          <div class="panel-footer">
            <b>Opcciones esclusivas de administrador</b><br/><br/>
            <b>Ingresa un código encuestador</b><br/>
            <%= text_field_tag 'conde_entreviwer', '', placeholder: "Código de la persona que levanto la entrevista", class: "form-control"%><br/>
            <b>Ingresa un teléfono</b><br/>
            <%= text_field_tag 'phone', '', placeholder: "Linea a buscar", class: "form-control"%><br/><br/>
          </div>
          </div>
        </div>
        <b>Selecciona una campaña</b>
        <%= select_tag "code", options_from_collection_for_select(@customer.campaings, "campaing_code", "campaing_title"), class: "form-control", include_blank: "Todas" %><br/>

      </div>
      <div class="modal-footer">
        <%= submit_tag 'Buscar', class: 'btn btn-primary pull-right' %>
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" style="margin-right:10px;">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<%end%>
<script type="text/javascript">
$('#advance').click(function(){
$('#advanced-op').slideToggle();
});
</script>