<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= customers_share_files_path %>"><img src="/images/logo/logo.png" width="250px" /> </a>
      <%= image_tag(current_customer.logo, height: "80px") if !current_customer.logo.nil?%>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <% if current_customer %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Archivos', customers_share_files_path%></li>
        <li><%= link_to "Audios", customer_audio_files_path, data: { no_turbolink: true }%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag(current_customer.avatar, width: "50px") if !current_customer.avatar.nil?%> <%= current_customer.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <br/>
              <%= link_to customer_notify_path do %>
              <i class="fa fa-comments-o" aria-hidden="true"></i> Notificaciones
              <%end%>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <br/>
              <%= link_to destroy_customer_session_path, :method => :delete do %>
              <i class="fa fa-power-off" aria-hidden="true"></i> Salir de ARM
              <%end%>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <%end%>
  </div><!-- /.container-fluid -->
</nav>
<script type="text/javascript">
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
  });
</script>