<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/images/logo/favicon.png"/>
    <title>ARMgroup | Agencia lider en investigación de mercados.</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <% unless current_admin || current_customer %>
  <body style="background: url('/images/backparallax/18.jpg'); background-size:100% 100%; background-repeat: no-repeat; min-height:800px;">
    <%else%>
    <body 
      <% if content_for?(:body_attributes) %>
        <%= yield(:body_attributes) %> 
      <% end %>>
      
      <% if !flash[:notice].nil? %>
      <div class="alert alert-info alert-dismissible" id="alert">
      <%= flash[:notice] %>
      <script type="text/javascript">$(document).ready(function(){
          setTimeout(function(){
            $('#alert').hide();
          },3000);
        });</script>
      </div>
      
      <%end%>
      <%= render partial: '/admin/menu' if current_admin %>
      <%= render partial: '/customer_files/menu' if current_customer %>
      <marquee width="100%" height="120" align="top" style="background-color: #fff; margin-top:-30px; border-bottom: solid 3px #eee;">
             <h4><%= image_tag('/images/otroslogos/logo0.png', width: '155px')%> | Divisiones | <%= image_tag('/images/otroslogos/logo1.png', width: '145px')%> División Cuantitativa | <%= image_tag('/images/otroslogos/logo2.png', width: '135px')%> División Cualitativa | <%= image_tag('/images/otroslogos/logo3.png', width: '135px')%> División de Calidad | <%= image_tag('/images/otroslogos/logo4.png', width: '135px')%> División de Operaciones | <%= image_tag('/images/otroslogos/logo5.png', width: '145px')%> Instituto de Investigación | <%= image_tag('/images/otroslogos/logo6.png', width: '145px')%> Fundación</h4>
      </marquee>
      <div id="loader-ink" style="position:fixed; z-index: 99999; float:right; background:transparent; display: none;"><img src="/gears.gif" width="70px"><b>Procesando ...</b></div>

      <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function() {
                $('#loader-ink').show();
            },
            complete: function() {
                $('#loader-ink').hide();
            }
        });
      </script>

      <div class="container">
        <%end%>
        <%= yield %>
        <% if current_admin || current_customer %>
      </div>
      <%end%>


  </body>
</html>